#item-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 500px;
  border: 2px solid var(--color-border);

  li {
    list-style: none;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
  }

  &:hover {
    background-color: var(--color-item-bg);
    color: var(--color-item-font);
  }

  #star-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .star-icon {
      width: 20px;
      height: 20px;
      margin: 2px;
    }

    .star-count {
      font-size: 1.25rem;
      margin: 2px 4px 0 4px;
    }
  }
}

@media (max-width: 700px) {
  #item-container {
    width: 90%;
  }
}
