#owner-container,
#list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#owner-container {
  justify-content: center;
  height: 25%;

  #img-container {
    width: 150px;
    height: 150px;
    margin-top: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
    color: var(--color-item-font);
  }
}

#list-container {
  justify-content: flex-start;
  height: 75%;
  overflow-y: auto;
}

@media (max-height: 842px) {
  #owner-container {
    #img-container {
      width: 115px;
      height: 115px;
    }
  }
}

@media (max-height: 736px) {
  #owner-container {
    height: 25%;

    #img-container {
      width: 120px;
      height: 120px;
    }

    h1 {
      font-size: 1.4rem;
    }
  }

  #list-container {
    height: 75%;
  }
}

@media (max-height: 568px) {
  #owner-container {
    #img-container {
      width: 100px;
      height: 100px;
    }
  }
}
