:root {
  --color-page-bg: #fcfcfc;
  --color-input-bg: #f1f1f1;
  --color-btn-bg: black;
  --color-border: black;
  --color-item-bg: #a0a0a0;
  --color-item-font: white;
}

html,
body,
#root {
  height: 100vh;
  background-color: var(--color-page-bg);
}

* {
  margin: 0;
  padding: 0;

  font: 1.1rem Catamaran;

  &:focus {
    outline: none;
  }

  &:-webkit-autofill::first-line {
    font-family: Catamaran;
    font-size: 1.4rem;
    font-weight: bold;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px var(--color-input-bg) inset;
  }
}

@media (min-width: 700px) {
  :root {
    font-size: 90%;
  }
}
