@import './colors.scss';

:root {
  --color-app-bg: #{$color-app-bg};
  --color-page-notfound-bg: #{$color-page-notfound-bg};
  --color-input-bg: #{$color-input-bg};
  --color-search-border: #{$color-border};
  --color-btn-submit-bg: #{$color-btn-submit-bg};
  --color-btn-submit-font: #{$color-btn-submit-font};
  --color-border: #{$color-border};
  --color-item-border: #{$color-item-border};
  --color-item-font: #{$color-item-font};
  --color-item-hover-bg: #{$color-item-hover-bg};
  --color-item-hover-font: #{$color-item-hover-font};
  --color-page-notfound-font: #{$color-page-notfound-font};
  --color-shadow: #{$color-shadow};
}

.dark {
  --color-app-bg: #{$color-app-bg-dark};
  --color-item-border: #{$color-item-border-dark};
  --color-item-font: #{$color-item-font-dark};
  --color-item-hover-bg: #{$color-item-hover-bg-dark};
  --color-item-hover-font: #{$color-item-hover-font-dark};
}

html,
body,
#root {
  height: 100vh;
  background-color: var(--color-app-bg);
}

* {
  margin: 0;
  padding: 0;
  font: 1rem Catamaran;
  transition: all 0.15s ease;

  &:focus {
    outline: none;
  }

  &:-webkit-autofill::first-line {
    font-family: Catamaran;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px var(--color-input-bg) inset;
  }

  ::-webkit-scrollbar-track {
    background-color: #a0a0a0;
  }

  ::-webkit-scrollbar {
    width: 0.8rem;
    background: #f4f4f4;
  }

  ::-webkit-scrollbar-thumb {
    background: black;
  }
}

img {
  border-radius: 50%;
  box-shadow: 4px 4px 15px -7px var(--color-shadow);
  -webkit-box-shadow: 4px 4px 15px -7px var(--color-shadow);
}

button {
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:focus,
  &:hover {
    opacity: 0.85;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 60%;
  }
}
