#owner-container,
#list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#owner-container {
  justify-content: center;
  height: 22%;

  img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;

    border-radius: 50%;
    margin-top: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
  }
}

#list-container {
  justify-content: flex-start;
  height: 78%;
  overflow-y: auto;
}

@media (max-height: 812px) {
  #owner-container {
    height: 30%;

    img {
      width: 8rem;
      height: 8rem;
    }

    h1 {
      font-size: 1rem;
    }
  }

  #list-container {
    height: 70%;
  }
}
