#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

#search-container {
  form {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .input {
    min-width: 265px;
    max-width: 30vw;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .submit-button {
    min-width: 12vw;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .close-button {
    border: none;
    color: inherit;
    background: transparent;
    position: relative;
    opacity: 0.5;
    padding: 0;
  }

  .close-button:focus,
  .close-button:hover {
    opacity: 1;
  }

  .close-button::before,
  .close-button::after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 1rem;
    height: 20px;
    width: 4px;
    background-color: currentColor;
  }

  .close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
