#logo-container {
  display: flex;
  justify-content: center;
  height: 50%;
  align-items: flex-end;

  img {
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    position: relative;
    transition: transform 0.7s ease-in-out;

    &:hover {
      transform: translateY(-20px);
      animation-iteration-count: infinite;
    }
  }
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50%;

  form {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .input {
    min-width: 350px;
    width: 25.1vw;
    padding: 0.5rem;
    font-size: 1.4rem;
    border: 2px solid var(--color-border);
  }

  .submit-button {
    min-width: 180px;
    width: 10vw;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid var(--color-border);
    background-color: var(--color-btn-bg);
    color: white;
  }

  .clear-button {
    border: none;
    color: inherit;
    background: transparent;
    position: relative;
    opacity: 0.5;
    padding: 0;
    transition: 0.2s ease-in-out;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      top: 50%;
      right: 1rem;
      height: 20px;
      width: 4px;
      background-color: currentColor;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      opacity: 1;
    }
  }
}
