#switch-container {
  display: flex;
  height: 8%;
  justify-content: flex-end;
}

#logo-container,
#search-container {
  display: flex;
  justify-content: center;
  height: 45.5%;
}

#logo-container {
  align-items: flex-end;

  img {
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    position: relative;
    transition: transform 0.7s ease-in-out;

    &:hover {
      transform: translateY(-20px);
      animation-iteration-count: infinite;
    }
  }
}

#search-container {
  align-items: flex-start;

  form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-shadow: 4px 4px 15px -7px var(--color-shadow);
    -webkit-box-shadow: 4px 4px 15px -7px var(--color-shadow);
  }

  .input {
    min-width: 350px;
    width: 25.1vw;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    border: 2px solid #ebebeb;

    &:focus {
      border: 2px solid var(--color-search-border);
    }
  }

  .submit-button {
    min-width: 180px;
    width: 10vw;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid transparent;

    background-color: var(--color-btn-submit-bg);
    color: var(--color-btn-submit-font);

    &:disabled {
      opacity: 0.4;
    }
  }

  .clear-button {
    border: none;
    color: inherit;
    background: transparent;
    position: relative;
    opacity: 0.5;
    padding: 0;
    transition: 0.2s ease-in-out;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      top: 50%;
      right: 1.4rem;
      height: 1.8rem;
      width: 4px;
      background-color: currentColor;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 700px) {
  #search-container {
    .input {
      min-width: 50vw;
    }

    .submit-button {
      min-width: 30vw;
    }
  }

  #logo-container {
    img {
      width: 13rem;
      height: 13rem;
    }
  }
}
